/* List Mentors */
.mentors__wrapper {
	width: 1540px;
	margin: 20px auto 0 auto;
}

.mentor__block {
	padding: 0 15px;
	overflow-y: scroll;
	padding-top: 20px;
	height: 625px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.mentor__block::-webkit-scrollbar {
	margin-top: 20px;
	width: 10px;
	background-color: #f9f9fd;
}

.mentor__block::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #0066ff;
}

.mentor__block::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background-color: #f9f9fd;
}
.mentors__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	margin-left: 15px;
}
.mentors__info {
	background-color: #196a8d;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: 600;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 240px 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-items: center;
	align-items: center;
}
/* Mentor item */
.mentor__item {
	width: 230px;
	padding: 18px 15px;
	margin-bottom: 30px;
	background: #ffffff;
	box-shadow: 0px 0px 20.6705px rgba(89, 40, 229, 0.2);
	border-radius: 16.2079px;
}

.mentor__edit {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mentor__edit a {
	color: var(--color--text--dark--blue);
}

.mentor__quantity {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid;
	margin: 5px 0 10px 0;
}

/* Create */

.createMentor__wrapper {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(170, 170, 170, 0.5);
	opacity: 1;
	transition: 0.2s;
}
.createMentor__none {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(170, 170, 170, 0.5);
	opacity: 0;
	transition: 0.2s;
	visibility: hidden;
}
.createMentor__container {
	border: 1px solid black;
	border-radius: 20px;
	padding: 20px;
	width: 440px;
	height: 300px;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.createMentor__block {
	display: flex;
	justify-content: space-between;
}
.createMentor__block form {
	width: 220px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-row-gap: 10px;
	margin-top: 1px;
}

.createMentor__info {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-row-gap: 15px;
	margin-top: 5px;
	width: 140px;
}

.createMentor__inp {
	border: 1px solid black;
	margin: 15px 0;
	padding: 10px;
}
.createMentor__btn {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

/*  */

.changeMentor__wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.changeMentor__container {
	background: linear-gradient(180deg, #dcf8ff 0%, #ffffff 100%);
	box-shadow: 0px 0px 19.2243px rgb(172 171 175);
	border-radius: 15.0739px;
	max-width: 800px;
	max-height: 550px;
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.changeMentor__info {
	text-align: center;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	border-radius: 20.9961px 20.9961px 0px 0px;
	display: grid;
	grid-template-columns: 1fr 0px 1fr 0px 1fr 0px 200px;
	grid-template-rows: 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	margin-bottom: 13px;
}
.line {
	border-left: 1px solid black;
	width: 1px;
	height: 100%;
}
.changeMentor {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 200px;
	grid-template-rows: 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}
.changeMentor__quantity {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.changeMentor__btn {
	display: flex;
	justify-content: space-between;
}
/* modal */
.modal {
	position: absolute;
}

/* modal change */
.model__wrapper {
	background: rgba(255, 255, 255, 0.294);
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	z-index: 5;
	padding-top: 10px;
}
.model__none {
	display: none;
}
.model__container {
	background: #ffffff;
	width: 300px;
	height: 200px;
	box-shadow: 0px 0px 19.2243px rgb(172 171 175);
	border-radius: 20px;
	padding: 10px;
}
.model {
	background: #ffffff;
	width: 300px;
	height: 200px;
	box-shadow: 0px 0px 19.2243px rgb(172 171 175);
	border-radius: 20px;
	padding: 10px;
	transition: 1.5s;
	margin-top: -250px;
}
