.header__wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100vh;
	background: #11122c;
	width: 357px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.header__title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 110px;
}
