.navBar__wrapper {
	height: 100%;
}
.navBar__nav {
	width: 180px;
	height: 147px;
	margin: 80px auto 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 10px;
	cursor: pointer;
	padding: 5px;
}
.navBar__nav div {
	display: flex;
}
