.sideBar__wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	overflow-y: scroll;
	background: #11122c;
	height: 100vh;
	max-width: 250px;
	width: 100%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.sideBar__container {
}
.sideBar__title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}
.sideBar__wrapper::-webkit-scrollbar {
	width: 10px;
	background-color: #f9f9fd;
}

.sideBar__wrapper::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #9c00fd;
}

.sideBar__wrapper::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background-color: #f9f9fd;
}
