@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
:root {
	--color--text--dark--blue: #0f303f;
	--color--text--grey: #b7c1c5;
	--color--text--dark--white: #eae9e8;
	--color--text--white: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Inter', sans-serif;
}
.App {
	width: 100%;
	display: flex;
}
.ani {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.block {
	width: 130px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.ani__l {
	animation: ani__l 5s infinite;
}
.ani__o {
	animation: ani__o 5s infinite;
}
.ani__a {
	animation: ani__a 5s infinite;
}
.ani__d {
	animation: ani__d 5s infinite;
}
.ani__i {
	animation: ani__i 5s infinite;
}
.ani__n {
	animation: ani__n 5s infinite;
}
.ani__g {
	animation: ani__g 5s infinite;
}
.ani__1 {
	animation: ani__1 5s infinite;
}
.ani__2 {
	animation: ani__2 5s infinite;
}
.ani__3 {
	animation: ani__3 5s infinite;
}
@keyframes ani__l {
	0% {
		font-size: 16px;
	}
	10% {
		font-size: 25px;
		font-weight: 600;
	}
	20% {
		font-size: 16px;
	}
	30% {
	}
	40% {
	}
	50% {
	}
	60% {
	}
	70% {
	}
	80% {
	}
	90% {
	}
	100% {
	}
}
@keyframes ani__o {
	0% {
	}
	10% {
		font-size: 16px;
	}
	20% {
		font-size: 25px;
		font-weight: 600;
	}
	30% {
		font-size: 16px;
	}
	40% {
	}
	50% {
	}
	60% {
	}
	70% {
	}
	80% {
	}
	90% {
	}
	100% {
	}
}
@keyframes ani__a {
	0% {
	}
	10% {
	}
	20% {
		font-size: 16px;
	}
	30% {
		font-size: 25px;
		font-weight: 600;
	}
	40% {
		font-size: 16px;
	}
	50% {
	}
	60% {
	}
	70% {
	}
	80% {
	}
	90% {
	}
	100% {
	}
}
@keyframes ani__d {
	0% {
	}
	10% {
	}
	20% {
	}
	30% {
		font-size: 16px;
	}
	40% {
		font-size: 25px;
		font-weight: 600;
	}
	50% {
		font-size: 16px;
	}
	60% {
	}
	70% {
	}
	80% {
	}
	90% {
	}
	100% {
	}
}
@keyframes ani__i {
	0% {
	}
	10% {
	}
	20% {
	}
	30% {
	}
	40% {
		font-size: 16px;
	}
	50% {
		font-size: 25px;
		font-weight: 600;
	}
	60% {
		font-size: 16px;
	}
	70% {
	}
	80% {
	}
	90% {
	}
	100% {
	}
}
@keyframes ani__n {
	0% {
	}
	10% {
	}
	20% {
	}
	30% {
	}
	40% {
	}
	50% {
		font-size: 16px;
	}
	60% {
		font-size: 25px;
		font-weight: 600;
	}
	70% {
		font-size: 16px;
	}
	80% {
	}
	90% {
	}
	100% {
	}
}
@keyframes ani__g {
	0% {
	}
	10% {
	}
	20% {
	}
	30% {
	}
	40% {
	}
	50% {
	}
	60% {
		font-size: 16px;
	}
	70% {
		font-size: 25px;
		font-weight: 600;
	}
	80% {
		font-size: 16px;
	}
	90% {
	}
	100% {
	}
}
@keyframes ani__1 {
	0% {
	}
	10% {
	}
	20% {
	}
	30% {
	}
	40% {
	}
	50% {
	}
	60% {
	}
	70% {
		font-size: 16px;
	}
	80% {
		font-size: 45px;
		font-weight: 600;
	}
	90% {
		font-size: 16px;
	}
	100% {
	}
}
@keyframes ani__2 {
	0% {
	}
	10% {
	}
	20% {
	}
	30% {
	}
	40% {
	}
	50% {
	}
	60% {
	}
	70% {
	}
	80% {
		font-size: 16px;
	}
	90% {
		font-size: 45px;
		font-weight: 600;
	}
	100% {
		font-size: 16px;
	}
}

@keyframes ani__3 {
	0% {
		font-size: 16px;
	}
	10% {
	}
	20% {
	}
	30% {
	}
	40% {
	}
	50% {
	}
	60% {
	}
	70% {
	}
	80% {
	}
	90% {
		font-size: 16px;
	}
	100% {
		font-size: 45px;
		font-weight: 600;
	}
}
