img {
	width: 100%;
}
button {
	background: none;
	border: 1px solid #0f303f;
}
input {
	border: none;
	background: none;
	outline: none;
}

@media all and (max-width: 500px) {
	input {
		/* max-width: 150px; */
	}
}
